@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url(static/fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: local('Roboto-Medium'), url(static/fonts/Roboto-Medium.ttf) format('truetype');
}

body {
    max-width: 1440px;
    margin: 0 auto;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.flex_container {
    display: flex;
    justify-content: space-between;
}

.max_width {
    max-width: 1440px;
    width: 100%;
}

.font_roboto_medium {
    font-family: Roboto-Medium, sans-serif;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .max_width {
        max-width: 1199px;
        width: 100%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .max_width {
        max-width: 990px;
        margin: 0 auto;
    }
    body {
        margin: 0 auto;
    }
}


@media (max-width: 767px) {
    .max_width {
        max-width: 767px;
        width: 100%;
    }
}


@media (max-width: 480px) {
    .max_width {
        max-width: 1440px;
        width: 100%;
    }
}